<div class="jumbotron text-center">
    <h1>The Homey Page</h1>
    <p>This page demonstrates <span class="text-danger">nested</span> views.</p>
    <div ng-controller="EntityCtrl as ec">

        <div>
            <div class="form-group">
                <h3>
                    @Messages("entity.plural")
                <a ng-href="/#/entity/create" class="btn btn-primary pull-right" id="btn_entity_create">@Messages("entity.create.btn")</a>
                </h3>
                <hr>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Entity...">
                <hr>
            </div>

            <table id="entity_list" class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>@Messages("entity.field.name")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entity in ec.entities | filter:searchText">
                        <td>
                            {{$index+1}}
                        </td>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"/>
                                </label>
                            </div>
                        </td>
                        <td>{{entity.name}}</td>
                        <td>{{entity.inn}}</td>
                        <td>{{entity.kpp}}</td>
                        @*<td>*@
                            @*<a ng-href="/#/entity/edit/{{entity.id}}" class="btn btn-success pull-right" id="btn_entity_update">@Messages("entity.edit.btn")</a>*@
                        @*</td>*@
                        @*<td>*@
                            @*<a ng-click="ec.delete(entity.id)" class="btn btn-success pull-right" id="btn_entity_delete">@Messages("entity.remove.btn")</a>*@
                        @*</td>*@
                    </tr>
                    <tr ng-hide="ec.entities.length">
                        <td colspan="3">
                            <p class="text-center">@Messages("entity.list.empty")</p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h3>
            Debug
            </h3>
            <hr>
            <accordion>
                <accordion-group is-open="status.open">
                    <accordion-heading>
                    Json Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                    <pre>{{ ec.entities | json }}</pre>
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>